body {
    width: auto;
    background-color: rgb(0, 121, 191);
    font-family: 'Lato', sans-serif;
}


/*estilos del header*/

header {
    width: auto;
    height: 40px;
    background-color: #026AA7;
    margin-top: -6px;
    margin-left: -7px;
    margin-right: -7px;
}


/*estilos div tablero*/

#tablero {
    float: left;
    width: 100px;
    height: 30px;
    display: inline-block;
    background-color: #4d95bf;
    color: #ffffff;
    border: none;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif !important;
    margin-top: 4px;
    margin-left: 10px;
    border-radius: 4px;
}

#tablero:hover {
    background-color: #3284b3;
    cursor: pointer;
}

#tablero p {
    display: inline;
}

.icon-trello:before {
    content: "\e905";
    color: #ffffff;
    padding-right: 10px;
    display: inline-block;
    padding-left: 9px;
    padding-top: 6px;
}


/*div estilo buscar*/

#buscar {
    float: left;
    width: 180px;
    height: 30px;
    background-color: #4d95bf;
    color: #ffffff;
    display: inline-block;
    margin-top: 4px;
    margin-left: 9px;
    border-radius: 4px;
}

#buscar:hover {
    background-color: #3284b3;
}

#buscar input {
    display: inline-block;
    width: 130px;
    background-color: transparent;
    margin-left: 6px;
    margin-top: 6px;
    margin-right: 10px;
    border: none;
}

#buscar input:focus {
    outline: none;
}

.icon-search2:before {
    content: "\e986";
}


/*estilo del logo*/

header img {
    float: left;
    margin-left: 330px;
    margin-top: 4px;
}


/*estilo div notificaciones*/

#notificaciones {
    display: inline-block;
    padding-top: 4px;
    float: left;
    margin-left: 425px;
}

#btn-add,
#btn-info,
#btn-notif {
    width: 30px;
    height: 30px;
    background-color: #4d95be;
    display: inline-block;
    margin-right: 9px;
    border-radius: 4px;
    padding-left: 3px;
    font-size: 24px;
}

#btn-add:hover,
#btn-info:hover,
#btn-notif:hover {
    background-color: #3284b3;
}

.icon-plus:before {
    content: "\e901";
    display: inline-block;
    color: #ffffff;
}

.icon-info:before {
    content: "\e902";
    display: inline-block;
    color: #ffffff;
}

.icon-notifications:before {
    content: "\e900";
    display: inline-block;
    color: #ffffff;
}

#user {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    float: right;
    background-color: #fff;
}


/*estilo de la seccion container*/

#container {
    width: 100%;
    height: 65px;
}

#container #titulo {
    color: #fff;
    width: 250px;
    height: 38px;
    padding-left: 9px;
    margin-top: 10px;
    display: inline-block;
    float: left;
    cursor: pointer;
    margin-right: 10px;
}

#container #titulo:hover {
    background-color: #026AA7;
    border-radius: 4px;
}

#titulo h3 {
    margin-top: 7px;
    font-size: 18px;
}

#container #star {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background-color: transparent;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#container #star:hover {
    background-color: #026AA7;
}

.icon-star:before {
    content: "\e903";
    display: block;
    color: #ffffff;
    padding-left: 10px;
    line-height: 35px;
}

#container hr {
    float: left;
    margin-top: 19px;
}


/*estilo div private*/

#private {
    float: left;
    width: 100px;
    height: 38px;
    display: inline-block;
    color: #ffffff;
    border: none;
    font-family: 'Lato', sans-serif !important;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
}

#private:hover {
    background-color: #026AA7;
    cursor: pointer;
}

#private p {
    display: inline;
}

.icon-locked:before {
    content: "\e905";
    color: #ffffff;
    padding-right: 10px;
    display: inline-block;
    padding-left: 9px;
    padding-top: 10px;
}


/*estilos seccion main*/

#main {
    width: 100%;
    height: auto;
}

#lista {
    width: 270px;
    height: auto;
    float: left;
}

#lista #anadir {
    display: inline-block;
    padding-left: 20px;
    padding-top: 6px;
    width: 260px;
    height: 32px;
    background-color: #006aa8;
    color: #b3d3e5;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#lista #anadir:hover {
    background-color: #094a6d;
}


/*div oculto*/

.cont {
    width: 276px;
    height: 86px;
    background-color: #e2e4e6;
    padding-top: 4px;
    padding-left: 4px;
    border-radius: 4px;
}

.cont #oculto {
    display: block;
    width: 258px;
    height: 34px;
    background-color: #d7d8da;
    color: #8f969b;
    border-radius: 4px;
    cursor: pointer;
    border-color: #aaaaaa;
    font-size: 15px;
    padding-left: 10px;
}

.cont .guardar {
    width: 95px;
    height: 38px;
    background-color: #5aac44;
    color: #fff;
    margin-top: 3px;
    border-radius: 4px;
    border: none;
    float: left;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.cont .guardar:hover {
    background-color: #3c9724;
}

.cont .icon-cancel {
    display: inline-block;
    float: left;
    content: "\e908";
    color: #999999;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.cont .icon-cancel:hover {
    color: #595757;
}


/*texto guardado en la lista*/

.txtSave {
    width: 258px;
    height: 80px;
    background-color: #d7d8da;
    float: left;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#txt-tarjeta {
    display: inline-block;
    padding-left: 13px;
    color: #a9a9a9;
    cursor: pointer;
}

#txt-tarjeta:hover {
    color: #5c5959;
    text-decoration: underline;
}

#txt {
    display: inline-block;
    margin-left: 13px;
    font-weight: 700;
    width: 210px;
}

#puntitos:hover {
    color: #a9a9a9;
    cursor: pointer;
}